#!/bin/bash
### BEGIN INIT INFO
# Provides:          nifi
# Required-Start:    $network $local_fs $remote_fs
# Required-Stop:     $network $local_fs $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: nifi
### END INIT INFO

[Unit]
Description=Apache NiFi
After=syslog.target network.target

[Service]
User={{ nifi_user }}
Type=forking
PIDFile={{ nifi_pid_file }}
# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir -p {{ nifi_pid_dir }}
ExecStartPre=/usr/bin/chown -R {{ nifi_user }} {{ nifi_pid_dir }}
ExecStart={{ nifi_base_dir }}/nifi-current/bin/nifi.sh start
ExecStop={{ nifi_base_dir }}/nifi-current/bin/nifi.sh stop

[Install]
WantedBy=multi-user.target
